{#
/**
 * @file
 * Default theme implementation for committee members block.
 *
 * Available variables:
 * - members: Array of member data with uid, name, and photo_url.
 */
#}

<style>
  .committee-members-block svg,
  .committee-members-block .profile-photo {
    height: 70px;
    width: auto;
  }
  .committee-members-block .rounded-custom {
    border-radius: 1rem 0 1rem 0;
  }
</style>
<div class="committee-members-block">
  {% if members %}
    <ul class="contributors-list d-flex flex-wrap list-none">
      {% for member in members %}
        <li class="contributor-item text-center mr-3 mb-3">
          <a href="/community-persona/{{ member.uid }}" class="contributor-link">
            <div class="contributor-photo">
              {% if member.photo_url %}
                <img src="{{ member.photo_url }}" alt="{{ member.name }}" class="profile-photo rounded-custom" />
              {% else %}
                <img src="modules/custom/access/modules/cssn/images/profile.gif" alt="{{ member.name }}" class="profile-photo rounded-custom" />
              {% endif %}
            </div>
            <div class="contributor-name">{{ member.name }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{{ 'No committee members found.'|t }}</p>
  {% endif %}
</div>
