{#
/**
 * @file
 * Default theme implementation for discourse participants block.
 *
 * Available variables:
 * - participants: Array of participant data with uid, name, and photo_url.
 */
#}

<style>
  .discourse-participants-block svg,
  .discourse-participants-block .profile-photo {
    height: 70px;
    width: auto;
  }
  .discourse-participants-block {
    max-height: 205px;
    overflow: auto;
  }
  .discourse-participants-block .rounded-custom {
    border-radius: 1rem 0 1rem 0;
  }
</style>
<div class="discourse-participants-block">
  {% if participants %}
    <ul class="participants-list d-flex flex-wrap list-none">
      {% for participant in participants %}
        <li class="participant-item text-center mr-3 mb-3">
          <a href="/community-persona/{{ participant.uid }}" class="participant-link">
            <div class="participant-photo">
              {% if participant.photo_url %}
                <img src="{{ participant.photo_url }}" alt="{{ participant.name }}" class="profile-photo rounded-custom" />
              {% else %}
                <img src="modules/custom/access/modules/cssn/images/profile.gif" alt="{{ participant.name }}" class="profile-photo rounded-custom" />
              {% endif %}
            </div>
            <div class="participant-name">{{ participant.name }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{{ 'No participants found.'|t }}</p>
  {% endif %}
</div>
