{#
/**
 * @file
 * Default theme implementation for contributors block.
 *
 * Available variables:
 * - contributors: Array of contributor data with uid, name, and photo_url.
 */
#}

<style>
  .contributors-block svg,
  .contributors-block .profile-photo {
    height: 70px;
    width: auto;
  }
  .contributors-block {
    max-height: 205px;
    overflow: auto;
  }
</style>
<div class="contributors-block">
  {% if contributors %}
    <ul class="contributors-list d-flex flex-wrap list-none">
      {% for contributor in contributors %}
        <li class="contributor-item text-center mr-3 mb-3">
          <a href="/community-persona/{{ contributor.uid }}" class="contributor-link">
            <div class="contributor-photo">
              {% if contributor.photo_url %}
                <img src="{{ contributor.photo_url }}" alt="{{ contributor.name }}" class="profile-photo rounded" />
              {% else %}
                <svg version="1.1" aria-hidden="true" width="85" height="70" class="rounded" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 448 448" style="enable-background:new 0 0 448 448;" xml:space="preserve">
                  <style type="text/css">
                    .st0{fill:#ECF9F8;}
                    .st1{fill:#B7CDD1;}
                  </style>
                  <rect class="st0" width="448" height="448"></rect>
                  <path class="st1" d="M291,158v14.5c0,40-32.4,72.5-72.5,72.5s-72.5-32.4-72.5-72.5V158c0-5,0.5-9.8,1.4-14.5h27.5
                    c27,0,50.6-14.8,63-36.7c10.6,13.5,27.1,22.2,45.6,22.2h1.2C288.8,137.9,291,147.7,291,158z M102.6,158v14.5
                    c0,64,51.9,115.9,115.9,115.9s115.9-51.9,115.9-115.9V158c0-64-51.9-115.9-115.9-115.9S102.6,94,102.6,158z"></path>
                  <path class="st1" d="M151.2,306.3c-71.9,7.8-128.2,68.1-130,141.7h405.6c-1.8-73.6-58.1-133.8-130.1-141.6
                    c-4.8-0.5-9.5,1.7-12.4,5.6l-48.8,65c-5.8,7.7-17.4,7.7-23.2,0l-48.8-65l0.1-0.1C160.7,308,156,305.9,151.2,306.3z"></path>
                </svg>
              {% endif %}
            </div>
            <div class="contributor-name">{{ contributor.name }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{{ 'No contributors found.'|t }}</p>
  {% endif %}
</div>
