{#
/**
 * @file
 * Default theme implementation for contributors block.
 *
 * Available variables:
 * - contributors: Array of contributor data with uid, name, and photo_url.
 */
#}

<style>
  .contributors-block svg,
  .contributors-block .profile-photo {
    height: 70px;
    width: auto;
  }
  .contributors-block {
    max-height: 205px;
    overflow: auto;
  }
  .contributors-block .rounded-custom {
    border-radius: 1rem 0 1rem 0;
  }
  .contributors-block .contributor-name {
    font-size: 0.85rem;
  }
</style>
<div class="contributors-block">
  {% if contributors %}
    <ul class="contributors-list d-flex flex-wrap list-none">
      {% for contributor in contributors %}
        <li class="contributor-item text-center mr-3 mb-3">
          <a href="/community-persona/{{ contributor.uid }}" class="contributor-link">
            <div class="contributor-photo">
              {% if contributor.photo_url %}
                <img src="{{ contributor.photo_url }}" alt="{{ contributor.name }}" class="profile-photo rounded-custom" />
              {% else %}
                <img src="modules/custom/access/modules/cssn/images/profile.gif" alt="{{ contributor.name }}" class="profile-photo rounded-custom" />
              {% endif %}
            </div>
            <div class="contributor-name">{{ contributor.name }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{{ 'No contributors found.'|t }}</p>
  {% endif %}
</div>
