{#
/**
 * @file
 * nect-theme: display a Recommended Resource node as an accordion item.
 */
#}

<div  class="card accordion-item resources">
  <div class="card-header accordion-header resources" id="associated-resource-header-{{node.id}}">
      <button  class="btn btn-block text-left accordion-btn resources" type="button" data-toggle="collapse" data-target="#associated-resource-body-{{node.id}}" aria-expanded="false" aria-controls="associated-resource-body-{{node.id}}">
        {{ label }}
      </button>
  </div>
  <div id="associated-resource-body-{{node.id}}" class="collapse" aria-labelledby="associated-resource-header-{{node.id}}">
    <div class="card-body  accordion-body resources">
      {{ content}}
    </div>
  </div>
</div>
